
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pacifico&display=swap');

.mainContainer {
    width: 100vw;
    background-color: #eee;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.mainContainer::-webkit-scrollbar {
    display: none;
}
.hero{
    background-image: url("../images/hero1.jpg");
    background-size: cover;
    color: white;
    width: 100vw;
    min-height: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 30px 60px #1114 ,  inset 0 100px 100px #1114;
}
body{
    width: 100vw;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}/*cup*/
.tray{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    background-color: #dedede;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 1),
                inset 0 5px 80px rgba(255, 255, 255, 0.516),
                inset 10px 10px 20px rgba(255, 255, 255, 0.8),
                inset 0 -10px 10px rgba(255, 255, 255, 0.8),
                inset 0 0 70px rgb(255, 255, 255),
                inset 0 0 70px rgb(255, 255, 255),
                inset 0 0 70px rgb(255, 255, 255);
    scale: 0.5;
    cursor: pointer;
}
.tray:hover .shape100{
    rotate: 30deg;
    
    transition: 1s;
}
.tray:hover .handle{
    rotate: 90deg;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5),
    inset -10px -10px 8px rgba(0, 0, 0, 0.3),
    inset 20px 0px 10px rgba(0, 0, 0, 0.2),
    -5px 10px 10px rgba(0, 0, 0, 0.5),
    -10px 10px 10px rgba(0, 0, 0, 0.3);
    transition: 1s;

}
.tray:active .handle{
    rotate: 450deg;
}
.tray:hover .fog{
    rotate: 30deg;
    transform: translate(0px, -50px);
}
.tray:hover .fog1{
    rotate: 30deg;
    transform: translate(0px, -50px);
}
.tray:hover .fog2{
    rotate: 30deg;
    transform: translate(0px, -50px);
}



.activeColor{
    background-color: green;
}
.shape100{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background: linear-gradient(10deg, hsl(27, 100%, 40%) 0%, rgb(130, 58, 0) 100%);
    color: black;
    border-radius: 49% 50% 72% 28% / 39% 47% 85% 61%  ;
    transition: 0.2s ease-in-out;
    box-shadow: inset 0 5px 15px rgba(48, 39, 0, 0.39);
    animation: buble2 2s ease-in infinite;
    transform-origin:center;
    transition: 1s ease-out;
}

.cream{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    position: absolute;
    background-image: url(../images/piclogo.png);
    background-size: cover;
    width: 180px;
    height: 180px;
    opacity: 0.7;
    animation: shake 4s ease-in infinite;
    filter: blur(1px) drop-shadow(0 0 10px rgb(255, 255, 255));

}
.cup{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: fit-content;
    background-color: #ffffff;
    margin: 50px;
    border-radius: 50%;
    box-shadow: inset -5px 10px 10px rgba(0, 0, 0, 0.2), inset 0px 0px 10px rgba(0, 0, 0, 0.5),
                        -10px 20px 10px rgba(0, 0, 0, 0.7), -10px 50px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
    transition: 0.7s ease-in-out;
}

.handle{
    position: absolute;
    width: 80px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    transform: translateX(150px);
    border-radius: 0px 40px 40px 0px;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5),
                inset -10px -10px 8px rgba(0, 0, 0, 0.3),
                inset 20px 0px 10px rgba(0, 0, 0, 0.2),
                -5px 20px 10px rgba(0, 0, 0, 0.5),
                -10px 50px 10px rgba(0, 0, 0, 0.3);
    z-index: 99;
    transition: 0.7s ease-in-out;
}
@keyframes buble2 {
    0% {
        border-radius: 100% 100% 100% 100% / 100% 100% 100% 100%    ;
    }
    
    
    60% {
        border-radius:  70% 70% 80% 80% / 80% 70% 80% 80%  ;
    }
    
    100% {
        border-radius: 100% 100% 100% 100% / 100% 100% 100% 100%    ;
    }
    
}
@keyframes shake {
    0% {
        border-radius: 100% 100% 100% 100% / 100% 100% 100% 100%    ;
    }


    30% {
        transform: translate(-2px, 5px);
        rotate: -3deg;
        border-radius: 70% 70% 80% 80% / 80% 70% 80% 80%  ;
    }
    
    60% {
        rotate: 0deg;
    }
    70%{
        transform:skewY(3deg) skewX(1deg);
    }
    100% {
        border-radius: 100% 100% 100% 100% / 100% 100% 100% 100%    ;
    }
    
}
.fog, .fog2, .fog3{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    background-image: url(../images/fog.png);
    background-size: cover;
    z-index: 101;
    filter: blur(1px);
    animation: fog 5s ease-in infinite;
    transition: 3s ease-out;
    filter: blur(10px);
}
.fog2{
    
    animation: fog2 10s ease-in infinite;
    opacity: 1;

}
.fog2{
    
    animation: fog3 15s ease-in infinite;
    opacity: 1;

}
.greeting{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 100px;
    left: 80px;
    font-family: "Kanit", sans-serif;
}
.floatingDiv{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 350px;
    left: 0;
    width: fit-content;
    padding: 20px 10px 20px 30px;
    height: 60px;
    border-radius: 0 10px 10px 0;
    border: none;
    z-index: 1001;
    transition: 0.5s ease-in-out;
    overflow: hidden;
    animation: scale 1s ease-in infinite;
}
.signBtn{
    padding: 8px 16px;
    font-size: larger;
    font-weight: 600;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 30px;
    background-color: #eee;
    cursor: pointer;
    border: none;
}
@keyframes scale {
    0% {
        opacity: .8;
        scale: 1;
    }
    50% {
        opacity: 1;
        scale: 1.05;
    }
    100% {
        opacity: .8;
        scale: 1;
    }
}


@keyframes fog {
    0% {
        opacity: 0;
    }
    5% {
        opacity: .3;
    }
    50% {
        scale: 4;
        opacity: 0;
        rotate: 50deg;
    }
    100% {
        opacity: 0;
    }

}
@keyframes fog2 {
    0% {
        opacity: 0;
    }
    
    50% {
        opacity: .2;
    }
    100% {
        scale: 4;
        opacity: 0;
        rotate: -50deg;
    }

}
@keyframes fog3 {
    0% {
    }
    00% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        scale: 4;
        opacity: 0;
        rotate: -50deg;
    }

}

@media (max-width: 768px) {
    .floatingDiv{
        transform: translateY(70px);
    }
    .tray{
        transform: translateY(70px);
    }
}