.mainContainer {
    width: 100vw;
}
.hero{
    background-image: url("../images/hero1.jpg");
    background-size: cover;
    color: white;
    width: 100vw;
    min-height: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
body{
    width: 100vw;
    overflow-x: hidden;
}
/*cup*/
.tray{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    background-color: #dedede;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 1),
                inset 0 5px 80px rgba(255, 255, 255, 0.516),
                inset 10px 10px 20px rgba(255, 255, 255, 0.8),
                inset 0 -10px 10px rgba(255, 255, 255, 0.8),
                inset 0 0 70px rgb(255, 255, 255),
                inset 0 0 70px rgb(255, 255, 255),
                inset 0 0 70px rgb(255, 255, 255);
    scale: 0.5;
    cursor: pointer;
}
.tray:hover .shape100{
    rotate: 30deg;
    
    transition: 1s;
}
.tray:hover .handle{
    rotate: 90deg;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5),
    inset -10px -10px 8px rgba(0, 0, 0, 0.3),
    inset 20px 0px 10px rgba(0, 0, 0, 0.2),
    -5px 10px 10px rgba(0, 0, 0, 0.5),
    -10px 10px 10px rgba(0, 0, 0, 0.3);
    transition: 1s;

}
.tray:active .handle{
    rotate: 450deg;
}
.tray:hover .fog{
    rotate: 30deg;
    transform: translate(0px, -50px);
}
.tray:hover .fog1{
    rotate: 30deg;
    transform: translate(0px, -50px);
}
.tray:hover .fog2{
    rotate: 30deg;
    transform: translate(0px, -50px);
}



.activeColor{
    background-color: green;
}
.shape100{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background: linear-gradient(10deg, hsl(27, 100%, 40%) 0%, rgb(130, 58, 0) 100%);
    color: black;
    border-radius: 49% 50% 72% 28% / 39% 47% 85% 61%  ;
    transition: 0.2s ease-in-out;
    box-shadow: inset 0 5px 15px rgba(48, 39, 0, 0.39);
    animation: buble2 2s ease-in infinite;
    transform-origin:center;
    transition: 1s ease-out;
}

.cream{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    position: absolute;
    background-image: url(../images/piclogo.png);
    background-size: cover;
    width: 180px;
    height: 180px;
    opacity: 0.7;
    animation: shake 4s ease-in infinite;
    filter: blur(1px) drop-shadow(0 0 10px rgb(255, 255, 255));

}
.cup{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: fit-content;
    background-color: #ffffff;
    margin: 50px;
    border-radius: 50%;
    box-shadow: inset -5px 10px 10px rgba(0, 0, 0, 0.2), inset 0px 0px 10px rgba(0, 0, 0, 0.5),
                        -10px 20px 10px rgba(0, 0, 0, 0.7), -10px 50px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
    transition: 0.7s ease-in-out;
}

.handle{
    position: absolute;
    width: 80px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    transform: translateX(150px);
    border-radius: 0px 40px 40px 0px;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5),
                inset -10px -10px 8px rgba(0, 0, 0, 0.3),
                inset 20px 0px 10px rgba(0, 0, 0, 0.2),
                -5px 20px 10px rgba(0, 0, 0, 0.5),
                -10px 50px 10px rgba(0, 0, 0, 0.3);
    z-index: 99;
    transition: 0.7s ease-in-out;
}
@keyframes buble2 {
    0% {
        border-radius: 100% 100% 100% 100% / 100% 100% 100% 100%    ;
    }
    
    
    60% {
        border-radius:  70% 70% 80% 80% / 80% 70% 80% 80%  ;
    }
    
    100% {
        border-radius: 100% 100% 100% 100% / 100% 100% 100% 100%    ;
    }
    
}
@keyframes shake {
    0% {
        border-radius: 100% 100% 100% 100% / 100% 100% 100% 100%    ;
    }


    30% {
        transform: translate(-2px, 5px);
        rotate: -3deg;
        border-radius: 70% 70% 80% 80% / 80% 70% 80% 80%  ;
    }
    
    60% {
        rotate: 0deg;
    }
    70%{
        transform:skewY(3deg) skewX(1deg);
    }
    100% {
        border-radius: 100% 100% 100% 100% / 100% 100% 100% 100%    ;
    }
    
}
.fog, .fog2, .fog3{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    background-image: url(../images/fog.png);
    background-size: cover;
    z-index: 101;
    filter: blur(1px);
    animation: fog 5s ease-in infinite;
    transition: 3s ease-out;
    filter: blur(10px);
}
.fog2{
    
    animation: fog2 10s ease-in infinite;
    opacity: 1;

}
.fog2{
    
    animation: fog3 15s ease-in infinite;
    opacity: 1;

}
.greeting{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 100px;
    left: 80px;
}
.floatingDiv{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 350px;
    left: 0;
    width: fit-content;
    padding: 20px 10px 20px 30px;
    height: 60px;
    border-radius: 0 10px 10px 0;
    background: #fefefe;
    border: none;
    z-index: 1001;
    transition: 0.5s ease-in-out;
    overflow: hidden;
    animation: scale 1s ease-in infinite;
}
@keyframes scale {
    0% {
        opacity: .8;
        scale: 1;
    }
    50% {
        opacity: 1;
        scale: 1.05;
    }
    100% {
        opacity: .8;
        scale: 1;
    }
}

.floatingDiv:hover{
    top: -500px;
    width: 800px;
    height: 1000px;
    border-radius: 0 0 40pc 0;
    background-color: rgba(234, 234, 234, 0.108);
    backdrop-filter: blur(10px);
    border-bottom: #dedede11 solid 30px;
    border-left: none;
    border-right:#dedede solid 0px;
    border-top: none;
    justify-content: flex-start;
    align-items: flex-end;
    animation: none;
}
@keyframes fog {
    0% {
        opacity: 0;
    }
    5% {
        opacity: .3;
    }
    50% {
        scale: 4;
        opacity: 0;
        rotate: 50deg;
    }
    100% {
        opacity: 0;
    }

}
@keyframes fog2 {
    0% {
        opacity: 0;
    }
    
    50% {
        opacity: .2;
    }
    100% {
        scale: 4;
        opacity: 0;
        rotate: -50deg;
    }

}
@keyframes fog3 {
    0% {
    }
    00% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        scale: 4;
        opacity: 0;
        rotate: -50deg;
    }

}

/*form*/
.formContainer{
    display: none;
}
.floatingDiv:hover h2{
    display: none;
}
.floatingDiv:hover .formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 40px 40px;
  }
.formContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 250px;
    padding: 20px;
    border-radius: 20px;
    background-color: #f5f5f519;
    backdrop-filter: blur(10px);
    box-shadow: 0 0px 10px #6f6f6f5b;
}
.formContainer form a{
    text-decoration: none;
    color: white;
    border: solid 3px #fff5; 
    padding: 2px 6px;
    border-radius: 20px;
}
.formContainer form a:hover{
    color: rgb(247, 255, 251);
    border: solid 3px #fffb;
    animation: flash6 1s infinite;
}

.floatingDiv:hover .wall{
    display: flex;

}
@keyframes flash6 {
    0% {
      opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
.formContainer form input{
    display: flex;
    width: 200px;
    padding:6px;
    margin-bottom: 10px;
    border-radius: 20px;
    border-style: solid;
    font-size: 16px;
    border-width: 3px;
    border-color: rgba(0, 0, 0, 0.69);
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.5s ease-in-out;
    outline: none;
}
.formContainer form input:focus{
    box-shadow: 0 10px 5px #6f6f6f5b;
    background-color: rgba(255, 255, 255, 0.4);
    color: #000000;
}
.formContainer form input:focus::placeholder{
    color: rgba(0, 0, 0, 0.297);
    transform: translateX(80px);
}
.formContainer form input::placeholder{
    transition: all 0.5s ease-in-out;
}
.formContainer form button:hover{
    background-color: #00b05b;
    scale: 1.1;
    color: #f5f5f5;
    box-shadow: 0 0 10px #0000005e;
}
.formContainer form button:active{
    scale: 1;
}

label{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100px;
    padding: 10px;
    color:#000000;
    font-weight: bold;
    font-size: 16px;
}
.formContainer form button{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: rgb(0, 153, 79);
    color:#f5f5f5;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 10px;
    transition: ease-in-out 0.2s;
}
#lockIcon{
    cursor: pointer;
    position: absolute;
    right: 40px;
    font-size: large;
    transform: translate(-50%, 60%);
}
#lockIcon:hover{
    color: rgb(127, 127, 127);
    scale: 1.1;
}
#lockIcon:active{
    color: rgb(4, 181, 98);
    scale: 1.1;
}
.passwordContainer{
    display: flex;
}
.lockIcon{
    cursor: pointer;
    position: absolute;
    right: 40px;
    font-size: large;
    transform: translate(-50%, 60%);
}
.lockIconOpen{
    cursor: pointer;
    position: absolute;
    right: 40px;
    font-size: large;
    color: red;
    transform: translate(-50%, 60%);
}
.lockIconOpen:hover{
    color: rgb(153, 0, 0);
    scale: 1.1;

}
#singupLink{
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: solid 3px rgba(0, 0, 0, 0.138);
    padding: 2px 6px;
    border-radius: 20px;
}
#singupLink:hover{
    color: rgb(247, 255, 251);
    border: solid 3px #fff8;
}
#message{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    margin-bottom: 0;
    background-color: #f5f5f57d;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0 0 10px #ffffffbd;
}
#messageContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}
#shopNowBtn{
    background-color: white;
    color: black;
    animation: flash 1s infinite;
    border-radius: 20px;
    padding: 10px;
    border: none;
}
#shopNowBtn:hover{
    scale: 1.1;
}
#shopNowBtn:active{
    scale: 0.8;
}
@keyframes flash {
    0% {
      opacity: 1;
      background-color: white;
    color: black;
    }
    50% {
      opacity: 0.8;
      background-color: black;
    color: white;
    }
    100% {
      opacity: 1;
      background-color: white;
    color: black;
    }
  }

#cafeWall{
    display: none;
}
.floatingDiv:hover #cafeWall{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding-top: 50px;
    width: 320px;
    height: 400px;
    margin-left: 40px;
      
}

#cafeWall::-webkit-scrollbar {
      display: none;
}

  #blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    height: auto;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-bottom: 20px;
}

#nameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    margin-top: 10px;
    padding-bottom: 5px;
    border-bottom: solid 1px black;
}

#imageContainer {
    display: flex;
    width: 280px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}

#blogImage {
    width: 100%;
    height: auto;
}

#likeContainer {
    display: flex;
    background-color: #0001;
    flex-direction: row;
    justify-content: space-evenly;
    width: 280px;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
}

#contentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: wrap;
    text-align: center;
    width: 100%;
    border-radius: 10px;
}

#contentContainer p {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#likeContainer div i {
    position: flex;
    font-size: 50;
    margin-top: 10px;
    color: red;
    scale: 2;
    transition: 0.5s;
}

#likeContainer div i:hover {
    filter: drop-shadow(0 0px 1px red);
    scale: 2.5;
}

#likeContainer div i:active {
    filter: drop-shadow(0 0px 1px red);
    scale: 1.5;
}

#likeContainer p {
    font-size: large;
}

#createPostForm {
    display: flex;
    position: fixed;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px;
}

#createPostForm textarea {
    width: 100%;
    height: 100px;
    resize: none;
    border-radius: 10px;
    padding: 10px;
}

.likeBtn {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    padding-bottom: 5px;
    border-radius: 50%;
    border-color: #fff1;
    background-color: #0000;
}

.likeBtn:active {
    scale: 1.5;


}
.fa-solid fa-heart{
    transition: 3s;
    color: blue;
}


@media screen and (max-width: 768px) {
    body {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #cafeWall{
        margin: 0;
    }

    #createPost {
        display: flex;
        width: 100%;
        margin-bottom: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    #createPostForm {
        position: relative;
    }

}