body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('../images/loginpagepic2.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
  }

  h1{
    text-decoration: none;
    color:white;
  }

  p{
    color:#f5f5f5;
  }
.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }
.formContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    background-color:#508d6930;
    backdrop-filter: blur(6px);
    box-shadow: 0 0px 10px #6f6f6f5b;
}
.formContainer form a{
    text-decoration: none;
    color: white;
    border:none; 
    padding: 2px 6px;
    border-radius: 20px;
   
}
.formContainer form a:hover{
    color: rgb(247, 255, 251);
    border: none;
    animation: flash6 1s infinite;
    
}

@keyframes flash6 {
    0% {
      opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
.formContainer form input{
    display: flex;
    width: 260px;
    padding:8px;
    margin-bottom: 20px;
    border-radius: 20px;
    border-style:none;
    font-size: 16px;
    border-width: 5px;
    border-color: rgba(0, 0, 0, 0.69);
    background-color:#508d697e;
    transition: all 0.5s ease-in-out;
    outline: none;
    
}
.formContainer form input:focus{
    box-shadow: 0 10px 5px #6f6f6f5b;
    background-color: rgba(255, 255, 255, 0.4);
    color: #000000;
}
.formContainer form input:focus::placeholder{
    color: rgba(0, 0, 0, 0.297);
    transform: translateX(80px);
}
.formContainer form input::placeholder{
    transition: all 0.5s ease-in-out;
}
.formContainer form button:hover{
    background-color: rgb(0, 176, 91);
    scale: 1.1;
    color: #f5f5f5;
    box-shadow: 0 0 10px #0000005e;
}
.formContainer form button:active{
    scale: 1;
}

label{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100px;
    padding: 10px;
    color:white;
    font-weight: bold;
    font-size: 16px;
}
.formContainer form button{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100px;
    height:auto;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: rgb(0, 153, 79);
    color:#f5f5f5;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 40px;
    transition: ease-in-out 0.2s;
}
#lockIcon{
    cursor: pointer;
    position: absolute;
    right: 40px;
    font-size: large;
    transform: translate(-50%, 60%);
}
#lockIcon:hover{
    color: rgb(127, 127, 127);
    scale: 1.1;
}
#lockIcon:active{
    color: rgb(4, 181, 98);
    scale: 1.1;
}
.passwordContainer{
    display: flex;
}
.lockIcon{
    cursor: pointer;
    position: absolute;
    right: 40px;
    font-size: large;
    transform: translate(-50%, 60%);
}
.lockIconOpen{
    cursor: pointer;
    position: absolute;
    right: 40px;
    font-size: large;
    color: red;
    transform: translate(-50%, 60%);
}
.lockIconOpen:hover{
    color: rgb(153, 0, 0);
    scale: 1.1;

}
#singupLink{
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: solid 3px rgba(0, 0, 0, 0.138);
    padding: 2px 6px;
    border-radius: 20px;
}
#singupLink:hover{
    color: rgb(247, 255, 251);
    border: none;
}
#message{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    margin-bottom: 0;
    background-color: #f5f5f57d;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0 0 10px #ffffffbd;
}
#messageContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}
#shopNowBtn{
    background-color: white;
    color: black;
    animation: flash 1s infinite;
    border-radius: 20px;
    padding: 10px;
    border: none;
}
#shopNowBtn:hover{
    scale: 1.1;
}
#shopNowBtn:active{
    scale: 0.8;
}
@keyframes flash {
    0% {
      opacity: 1;
      background-color: white;
    color: black;
    }
    50% {
      opacity: 0.8;
      background-color: black;
    color: white;
    }
    100% {
      opacity: 1;
      background-color: white;
    color: black;
    }
  }


@media screen and (max-width: 768px) {
    
    
    
}
