form{
    display: flex;
    flex-direction: column;
    align-items: center;

}
body{
    display:flex;
    justify-content:center;
    align-items: center;
    background: url('../images/cup-coffee-with-beans-anise.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}


.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.signin{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
}
.submitbtn, #backBtn, #nextBtn{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100px;
    height:auto;
    padding: 10px;
    border-radius: 20px;
    border: none;
    color:#f5f5f5;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
    transition: ease-in-out 0.2s;
    cursor:pointer;
}
.submitbtn{
    
    background-color: rgb(46,138,87);
}
#backBtn, #nextBtn{
    background-color: rgb(153, 117, 0);
}

.submitbtn:hover , #backBtn:hover, #nextBtn:hover{
    background-color: rgb(0, 176, 91);
    scale: 1.1;
    color: #f5f5f5;
    box-shadow: 0 0 10px #0000005e;

}

.submitbtn:active, #backBtn:active, #nextBtn:active{
    scale: 1;
}


label{
    color:white;
}
.userFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 280px;
    border-radius: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color:#508d6930;
    backdrop-filter: blur(6px);
    box-shadow: 0 0px 10px #6f6f6f5b;
    border: solid 1px #00ffa231;
}
.signupHead{
    color:white;
}
input{
    border-radius: 15px;
    border:none;
    height:30px;
    width:250px;
   background-color: #508d697e;
   outline: none;
   padding-left: 10px;
   color:white;

}
input:focus{
    background-color: #508d697e;
    border: 2px solid rgb(0, 176, 91);
    color:white;
}
.userFormContainer form input:focus::placeholder{
    color: rgba(255, 174, 0, 0.714);
    transform: translateX(80px);
}
.userFormContainer form input::placeholder{
    transition: all 0.5s ease-in-out;
    color:rgb(226, 225, 225);
}
#signinLink {
    color:white;
    text-decoration: underline; 
    
}

#signinLink:hover {
    color: white; 
    text-decoration: none; 
}
.userFormSection1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    transition: all 0.5s ease-in-out;
}
.userFormSection2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    transition: all 0.5s ease-in-out;
}
.hide{
    display: none;
    transition: all 0.5s ease-in-out;
}
.navBtnContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.subContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
@media screen and (max-width: 768px) {
    .userFormContainer{
        margin: 20%;
    }
}