.nav{
    background-color: hsla(0, 0%, 0%, 0.718);
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navLeft{
    display: flex;
    align-items: center;
    background-color: hwb(0 0% 100% / 0.527);
}
.navRight{
    display: flex;
    align-items: center;
}
.navRight a{
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
}